
page-login {
  a {
    text-transform: uppercase;
    color: white ;
    &:last-child {
      color: color($colors, primary) ;
    }
  }

  ion-content {
    background: url('../assets/imgs/bg.png');
    background-size: 100% 100%;
  }

  .item {
    border-radius: 40px;
    opacity: 0.5;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    .input {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .button {
    text-transform: uppercase;
    margin: 50px 0 30px 0;
    width: 99%;
    height: 50px;
  }
}
