<ion-content padding align-items-center>

  <ion-row

    justify-content-center>
    <ion-col col-sm-9 justify-content-center>
      <form [formGroup]="loginForm">

        <ion-item >
          <ion-input type="text"
                     formControlName="phone"
                     [(ngModel)]="userData.phone"
                     placeholder="(__) ___-__-__"
                     [brmasker]="{mask:'(00) 00-00-000', len:14, type:'num'}"></ion-input>
        </ion-item>

        <div class="valid">
       <span><ion-item  *ngIf="validation(loginForm).phone()" >
          {{validation(loginForm).phone()}}
        </ion-item></span>
        </div>
        <div class="input_bottom">
        <ion-item justify-content-center
                  ngClass="{{loginForm.controls.password.errors ? invalid : ''}}">
          <ion-input
            [type]="isActive ? 'password' : 'text'"
            formControlName="password"
            placeholder="ПАРОЛЬ"
            [(ngModel)]="userData.password"></ion-input>
          <ion-icon
            class="pass-icon"
            [name]="isActive ? 'eye-off': 'eye' "
            item-right
            (click)="showPass()">
          </ion-icon>
        </ion-item>
        </div>
        <div class="valid">
        <ion-item *ngIf="validation(loginForm).password()" >
          {{validation(loginForm).password()}}
        </ion-item>
        </div>
      </form>
      <button ion-button
              round
              (click)="login()"
      ngClass="{{loginForm.valid ? 'valid-button' : ''}}">увійти
      </button>
      <div class="text-cust" text-center>
        <div margin-bottom><a>забули пароль?</a> <a (click)="goToSlider()">слайдер</a></div>
        <br><a margin-vertical>немає акаунта?</a>
        <span><a color="colorlink" (click)="goToRegistration()">зареєструйтеся!</a></span>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

