<ion-content padding align-items-center>

  <ion-row

    justify-content-center>
    <ion-col col-sm-9 justify-content-center>
      <form [formGroup]="loginForm">
        <ion-item margin-vertical>
          <ion-input type="number"
                     formControlName="phone"
                     placeholder="+380 (__) ___-__-__"
                     [(ngModel)]="userData.phone"></ion-input>
        </ion-item>
        <ion-item *ngIf="validation(loginForm).phone()" >
          {{validation(loginForm).phone()}}
        </ion-item>
        <ion-item justify-content-center
                  ngClass="{{loginForm.controls.password.errors ? invalid : ''}}">
          <ion-input
            [type]="isActive ? 'password' : 'text'"
            formControlName="password"
            placeholder="ПАРОЛЬ"
            [(ngModel)]="userData.password"></ion-input>
          <ion-icon
            class="pass-icon"
            [name]="isActive ? 'eye-off': 'eye' "
            item-right
            (click)="showPass()">
          </ion-icon>
        </ion-item>
        <ion-item *ngIf="validation(loginForm).password()" >
          {{validation(loginForm).password()}}
        </ion-item>
      </form>
      <button ion-button
              round
              (click)="login()">увійти
      </button>
      <div class="text-cust" text-center>
        <div margin-bottom><a>забули пароль?</a> <a (click)="goToSlider()">слайдер</a></div>
        <br><a margin-vertical>немає акаунта?</a>
        <span><a color="colorlink" (click)="goToRegistration()">зареєструйтеся!</a></span>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

