
page-login {
  .pass-icon {
    color: #777474;
    margin: 30px 0 0 0 !important;
    z-index: 99;
    display: inline-block;

  }
  button {
    width: 74%;
    height: 75px;

  }
 .forgott{
   padding: 10px 50px;
 }
  a{
    color: white;
    padding: 0 30px;
   // line-heigth:30px;
    display: block;
  }
  span a{
    color: #f9b707;


  }

  .button-md-secondary{
    margin-top: 20%;
    height: 50px;
  }

/*.scroll-content{

}*/

  .bg {
// background-image: url('../src/assets/imgs/bg.png');
    background: url('../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    //text-align: center;
    display: flex;

    justify-content: center;
  }

  #rounded_one{
    @include border-radius(40px);
    margin-top: 47%;
    opacity: 0.5;
    height: 50px;
    width:74%;
    font-size: 14px;
    font-weight: bold;
    left:13%;


  }
#rounded_two{
  @include border-radius(40px);
  margin-top: 10%;
  opacity: 0.5;
  height: 50px;
  width:74%;
  font-size: 12px;
  font-weight: bold;
  left:13%;


}
  .list-md {
    margin: -1px 0 16px;
     align-items: center;
     justify-content: center;
    display: inline-block;
    width: 74%;
    height: 55px;
  }
  .scroll-content{
    text-align: center;
  }
 br {
  padding-top:15px;
}
}
