<ion-footer text-center *ngIf="communication.tabsControllButton">
  <button ion-button
          no-margin
          color="white"
          class="futer-button"
          (click)="footerControll()"
          col-12>Далі
  </button>
</ion-footer>

<ion-footer text-center *ngIf="communication.deleteFriends">
  <button ion-button
          no-margin
          color="white"
          class="futer-button"
          (click)="showPopUp()"
          col-12>
    Видалити відміченні
  </button>
</ion-footer>

<ion-tabs trimHistory="true" name="myTabsNav">
  <ion-tab [root]="tab1Root" tabTitle="Пропозиції" tabIcon="fa-home"></ion-tab>
  <ion-tab [root]="tab4Root"
           tabTitle="Контакти"
           tabIcon="fa-users"
           tabBadge="{{friendRequest && friendRequest.length ? friendRequest.length : ''}}"
           tabBadgeStyle="danger"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Профіль" tabIcon="fa-user"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Інфо" tabIcon="fa-info"></ion-tab>
</ion-tabs>

