page-slider {
  .content-md {
    color: white !important;
  }
  .button-md {
    box-shadow: none;
  }
  .icon {
    font-size: 200px;
  }
  ion-content {
    ion-slide {
      ion-header {
        button {
          background-color: transparent !important;
        }
        &:after {
          display: none;
        }
      }

      background-position: center center ;
      background-size: cover ;
    }
    .first {
      background-image: url(../assets/imgs/slider/first.jpg);
    }
    .second {
      background-image: url(../assets/imgs/slider/second.jpg);
    }
    .third {
      background-image: url(../assets/imgs/slider/third.jpg);
    }
  }
}
