page-profile {
  //.toolbar-background-md {
  //  background: #081d32;
  //}
  //#icon-right {
  //  float: right;
  //}
  //.toolbar-title-md {
  //  color: white;
  //}
  ion-segment {
    margin-top: 12px;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    background: #081d32 !important;
    color: white !important;
    text-align: center;

  }
  #one {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-transform: none;
    color: #081d32;
    height: 32px;
    border-radius: 25px 0 0 25px;
    p {
      font-size: 14px;
      margin-top: -3px;
      font-weight: bold;
    }
  }
  #two {
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 32px;
    border-radius: 0 25px 25px 0;
    p {
      font-size: 14px;
      margin-top: -3px;
      font-weight: bold;
    }
  }

  //.list-md {
  //  margin: 0;
  //}
  //.label-md {
  //  //margin-top: 5px;
  //  margin: 0 8px 2px 0;
  //}
  //img {
  //  height: 88px;
  //  width: 88px;
  //  border-radius: 50%;
  //  margin-top: 20px;
  //}
  //h5 {
  //  color: #908c8c;
  //}
  //.checkbox-md .checkbox-icon {
  //  border-radius: 10px;
  //  color: white;
  //  transform: scale(1.3);
  //}
  //.item-md {
  //  padding-left: 0;
  //}
  //
  //.searchbar-search-icon {
  //  display: none;
  //}
  //
  //.searchbar-input-container {
  //  border-bottom: 1px solid #908c8c;
  //}
  //
  //.searchbar-md .searchbar-input {
  //  padding: 6px 1px;
  //  border-bottom: 1px solid #908c8c;
  //}
  //.searchbar-md {
  //  padding: 0;
  //}
  //.searchbar-input {
  //  box-shadow: none !important;
  //}
  //[col-6] {
  //  padding: 0;
  //}
  ///*{
  //  color: yellow;
  //}*/
  //.alert-md .alert-button .button-inner {
  //  color: black;
  //}
  //.black-shadow p {
  //  color: black;
  //  font-size: 16px;
  //}
  //#color_checkbox p {
  //  color: orange;
  //  font-size: 16px;
  //}
  //.card-header-md {
  //  padding-bottom: 2px;
  //}
  //.checkbox-md .checkbox-checked .checkbox-inner {
  //  border-color: white;
  //}
  //#color_foot {
  //  background: #ffffff;
  //}
  //.toolbar-background-md p {
  //  background: white;
  //}

}
