page-profile {

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    background: #081d32 !important;
    color: white !important;
    text-align: center;

  }
.label-md {
  margin-top: 5px;
}
 img {
    height: 75px;
    border-radius: 50%;
    margin-top: 30px;
  }
  h5 {
    color: #908c8c;
  }

  .searchbar-search-icon {
    display: none;
  }

  .searchbar-input-container {
    border-bottom: 1px solid #908c8c;
  }

.searchbar-md .searchbar-input {
  padding: 6px 1px;
  border-bottom: 1px solid #908c8c;
}
  .searchbar-md {
    padding: 0;
  }
  .searchbar-input {
    box-shadow: none !important;
  }
}
