page-profile {
.row{
  //margin-top: 4px;
}
  //.toolbar-background-md {
  //  background: #081d32;
  //}
  //#icon-right {
  //  float: right;
  //}
  //.toolbar-title-md {
  //  color: white;
  //}
  /* ion-segment {
     margin-top: 12px;
   }*/
  .toolbar-title{
    font-size: 16px;
  }
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-bottom: 9px;
  }
  .label[stacked], .label[floating]{
  margin-left: 15px;
}
  .button-inner span{
    margin-left: 15px;
  }
  [col-6]{
    margin-bottom: 1px;
  }
  [col-8]{
    padding: 0;
  }
  [col-4]{
    background: white;
   // height: 90%;
  //  margin: 5px 0;
    padding: 0;
  }
  .scroll-content{
    background: #fafafa;
    padding-top: 2px!important;
  }
  img{
    margin-top: 14px;
  }
  .list{
    margin: 0;
    padding-left: 0px!important;
    padding-right: 0px!important;

  }
  .item{
    margin-top: 0;
  }


  .segment .segment-button.activated, .segment .segment-button.segment-activated {
    background: #081d32 !important;
    color: white !important;
    text-align: center;

  }
  #one {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-transform: none;
    color: #081d32;
    height: 28px;
    border-radius: 25px 0 0 25px;
    p {
      font-size: 12px;
      margin-top: -6px;
      //font-weight: bold;
    }
  }
  #two {
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 28px;
    border-radius: 0 25px 25px 0;
    p {
      font-size: 12px;
      margin-top: -6px;
      //font-weight: bold;
    }
  }

  //.list {
  //  margin: 0;
  //}
  //.label {
  //  //margin-top: 5px;
  //  margin: 0 8px 2px 0;
  //}
  //img {
  //  height: 88px;
  //  width: 88px;
  //  border-radius: 50%;
  //  margin-top: 20px;
  //}
  //h5 {
  //  color: #908c8c;
  //}
  //.checkbox .checkbox-icon {
  //  border-radius: 10px;
  //  color: white;
  //  transform: scale(1.3);
  //}
  //.item {
  //  padding-left: 0;
  //}
  //
  //.searchbar-search-icon {
  //  display: none;
  //}
  //
  //.searchbar-input-container {
  //  border-bottom: 1px solid #908c8c;
  //}
  //
  //.searchbar .searchbar-input {
  //  padding: 6px 1px;
  //  border-bottom: 1px solid #908c8c;
  //}
  //.searchbar {
  //  padding: 0;
  //}
  //.searchbar-input {
  //  box-shadow: none !important;
  //}
  //[col-6] {
  //  padding: 0;
  //}
  ///*{
  //  color: yellow;
  //}*/
  //.alert .alert-button .button-inner {
  //  color: black;
  //}
  //.black-shadow p {
  //  color: black;
  //  font-size: 16px;
  //}
  //#color_checkbox p {
  //  color: orange;
  //  font-size: 16px;
  //}
  //.card-header {
  //  padding-bottom: 2px;
  //}
  //.checkbox .checkbox-checked .checkbox-inner {
  //  border-color: white;
  //}
  //#color_foot {
  //  background: #ffffff;
  //}
  //.toolbar-background p {
  //  background: white;
  //}

}
