page-home {
  //.toolbar-background-md {
  //  background: #081d32;
  //}
  .toolbar-title-md {
    color: white;
  }
  .icon-right {
    float: right;
  }
  ion-navbar {
    background: #2d2d2d !important;
    color: white !important;
  }
  .searchbar-md .searchbar-input {
    border-radius: 65px;
    background-color: #0c2a49;
    color: white;
    width: 88%;
    line-height: 2.4rem;
    font-weight: 200;
    margin-left: 3px;
  }
  .searchbar searchbar-md .searchbar-animated .searchbar-show-cancel .searchbar-active .searchbar-left-aligned .searchbar-has-focus {
    //display:none;
    //color: white;
  }
  //.toolbar .searchbar-md .searchbar-md-cancel {
  //  display: none;
  //}
  .searchbar-md .searchbar-search-icon {
    color: white;
  }

  /*ion-content padding {
    align-items:center;
    justify-content: center;

  }*/
  ion-row {
    justify-content: center;
  }

  .left_button {
    border: 1px solid black;
    text-transform: none;
    color: #081d32;
    height: 32px;
    border-radius: 25px 0 0 25px;
    text-transform: none;
    font-weight: bold;
  }

  .right_button {
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 32px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
  }

  ion-card-content {
    color: #5d6d7d;
    font-family: 'Roboto';
    font-size: 17px;
  }
  ion-card-content h2 {
    font-weight: bold;
  }
  .data {
    color: #5d6d7d;
    font-family: 'Roboto';
    font-size: 17px;
  }
  .card-md h4 {
    margin: 0px;
    font-size: 17px;
    color: #182c40;
    font-weight: 540;
  }
  .card-md p {
    color: #f9b707;
    font-size: 17px;
  }
  .card-md h2 {
    font-weight: bold;
    font-size: 18px;
    font-family: "Roboto";
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    background: color($colors, secondary) !important;
    color: white !important;
    font-weight: 200 !important;

  }
  .card-content-md {
    padding-bottom: 1px;
  }
  .card .note-ios {
    margin: 10px;
    font-size: 16px;
    // font-family: "Roboto";
    font-weight: 200;
  }

  .card .note-md {
    margin: 10px;
    font-size: 14px;
    //font-family: "Roboto";
    font-weight: 200;
  }
  .button-round-md {
    text-transform: none;
    border: 1px solid color($colors, secondary);
  }

  [col-12] {
    text-align: center;
    padding-bottom: 17px;
  }

  //[col-12] {
  //  text-align: center;
  //  padding-bottom: 17px;
  //}

  .button-inner {
    color: #5d6d7d;
  }
  [col-6] {
    padding: 0;
  }
  .button-outline-md {
    border-color: #5d6d7d;
  }
  #orange_button {
    border-color: #fdad2a;

  }
  #orange_button span {
    color: #fdad2a;
  }
  .left_button p {
    font-size: 14px;

    font-weight: bold;
    text-transform: none;
    margin-top: -2px;

  }

  .right_button p {
    font-size: 14px;

    font-weight: bold;
    text-transform: none;
    margin-top: -2px;
  }
  page-home .button-inner {
    margin: 0 13px !important;
  }
  .note-md {
    color: #888a8c;
  }
  .button-outline-md {
    border-color: #5d6d7d;
    /* margin-left: 22px; */
    margin: 0px 12px 0px 13px;
  }
  .checks fa-icon {
    color: green;
    margin-left: 59%;
    //padding: 5px;
  }
  .fa-times {
    color: red !important;
  }
  .grid {
    padding: 0;
    width: 92%;
  }
  .data {
    line-height: 26px;
  }
  .segment-md .segment-button.segment-activated {
    height: 34px;
    border-color: transparent;
  }
  .segment-md .segment-button {
    height: 34px;
    color: #081d32;
    border-bottom-color: #081d32;
  }

  @media screen and (max-width: 377px) {
    .button-outline-md {
      margin: 0px;
    }
  }
  @media screen and (max-width: 327px) {
    .button-round-md {
      padding: 0px 1.6rem;
    }
  }

}

