<ion-header>
  <ion-navbar>
    <div *ngIf="!communication.tabsControllButton">
      <ion-title text-center *ngIf="!showSearchbar">Пропозиції
        <div class="icon-right">
          <ion-icon ios="ios-search" md="md-search" (click)="showSBar()"></ion-icon>
        </div>
      </ion-title>
      <div *ngIf="showSearchbar">
        <ion-searchbar
          [animated]="'true'"
          [showCancelButton]="'true'"
          (ionCancel)="hideSBar()">
        </ion-searchbar>
      </div>
    </div>
    <ion-row justify-content-between align-items-center *ngIf="communication.tabsControllButton">
      <ion-col>
        <button color="white"
                ion-button clear
                text-capitalize
                no-margin
                no-padding
                (click)="goToFriendsSelection()">
          Назад
        </button>
      </ion-col>
      <ion-title text-center>
        Поделиться предложением
      </ion-title>
      <ion-col text-end no-padding>
        <button color="white"
                text-capitalize
                ion-button clear
                no-margin
                no-padding
                (click)="checkAll ()">
          Все
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <div class="fix_buttons">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-segment [(ngModel)]="sentence">
            <ion-segment-button class="left_button" value="all"
                                (click)="( communication.tabsControllButton ? '' : loadJobs ())">
              <p>Всі</p>
            </ion-segment-button>
            <ion-segment-button class="right_button" value="my"
                                (click)="( communication.tabsControllButton ? '' : getMyJobs())">
              <p>Мої</p>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div [ngSwitch]="sentence">
    <ion-list *ngSwitchCase="'my'">
      <job-card *ngFor=" let job of myJobsArr; index as i;"
                [job]="job"
                [jobsArr]="myJobsArr"></job-card>
      <div class="message" *ngIf="!myJobsArr || myJobsArr.length === 0">
        <h6>Ви не подали ще жодної заявки на роботу</h6>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'all'">

      <job-card *ngFor=" let job of suggestedJobs; index as i;"
      [job]="job"
      [jobsArr]="suggestedJobs"></job-card>
      <job-card *ngFor=" let job of jobsArr; index as i;"
                [job]="job"
                [jobsArr]="jobsArr"></job-card>
      <div class="message" *ngIf="!jobsArr || jobsArr.length === 0">
        <h6>У Вас немає активних пропозицій</h6>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="this.scrollLimit < this.jobsArr.length">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>



</ion-content>

