page-home {
  ion-navbar{
    background: #2d2d2d !important;
    color: white !important;
  }
  /*ion-content padding {
    align-items:center;
    justify-content: center;

  }*/
  ion-row{
    justify-content:center;
  }
#left_button{
  border: 1px solid black;
        text-transform: none;
               color: #081d32;
             height: 34px;
             border-radius: 25px 0 0 25px;
  text-transform: none;
}
  #right_button{
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 34px;
    border-radius: 0 25px 25px 0;
  }
  ion-card-content{
    color:#5d6d7d;
    font-family: 'Roboto';
  }
  .card-md h2 {
    font-weight: bold;
    font-size: 20px;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    background: #081d32 !important;
    color: white !important;

  }
  .card .note-ios{
    margin: 10px;
    font-size: 16px;
    font-family: "Roboto";
  }
  .card .note-md{
    margin: 10px;
    font-size: 16px;
    font-family: "Roboto";
  }
  .button-round-md{
    text-transform: none;
  }
[col-12]{
  text-align: center;
}
  .button-inner{
    color: #5d6d7d;
  }

}

