<ion-header>

<!--<ion-navbar>-->
<!--<div class="bar bar-header bar-positive">-->
<!--<ion-title text-center>Пропозиції-->
<!--<ion-icon id="icon-right" ios="ios-search" md="md-search"></ion-icon></ion-title>-->
<!--</div>-->
<!--</ion-navbar>-->

  <ion-navbar>
    <div class="bar bar-header bar-positive">
      <ion-title text-center *ngIf="!showSearchbar">Пропозиції
        <div class="icon-right">
        <ion-icon  ios="ios-search" md="md-search" (click)="showSBar()"></ion-icon>
        </div>
      </ion-title>
      <div *ngIf="showSearchbar">
        <ion-searchbar
          [animated]="'true'"
          [showCancelButton]="'true'"
          (ionCancel)="hideSBar()" >
        </ion-searchbar>
      </div>

    </div>
  </ion-navbar>


</ion-header>

<ion-content padding-vertical >
    <ion-grid>
        <ion-row>
            <ion-col col-6>

                <ion-segment [(ngModel)]="sentence">

                   <ion-segment-button id="left_button" value="all">
                        <p>Всі</p>
                    </ion-segment-button>

                    <ion-segment-button id="right_button" value="my">
                        <p>Мої</p>
                    </ion-segment-button>

                </ion-segment>

            </ion-col>
        </ion-row>


    </ion-grid>
    <div [ngSwitch]="sentence">
        <ion-list *ngSwitchCase="'my'">
            <ion-card>

                <ion-card-content>


                    <h2> Будівничі роботи будівничі роботи будівничі роботи
                        <p>
                            <wbr>
                            <i>Ваша заявка розглядається</i></p>
                    </h2>

                   <div class="data">
                                      <!--<fa-icon name="camera-retro"></fa-icon> -->
                                      <fa-icon name="building"></fa-icon> <wbr>ФОП Фортуна
                                       <br><fa-icon name="calendar"></fa-icon>&nbsp; 21.02.2018 - 18.05.2018
                                       <span><br><fa-icon name="money"></fa-icon>&nbsp;1200$
                             <!--<ion-icon md="md-navigate"></ion-icon>-->
                            &nbsp;<fa-icon name="map-marker"></fa-icon> &nbsp;Мюнхен</span>
                                       </div>

                </ion-card-content>

                <ion-row>

                    <ion-col left text-left>
                        <ion-note>
                            Розміщено 1 год назад ·&nbsp;54 перегляди
                        </ion-note>
                    </ion-col>
                </ion-row>
                <div row col-12>
                    <button ion-button round outline>Поділитися</button>


<button ion-button round outline>Відхилити заявку</button>

                </div>


            </ion-card>

        </ion-list>
        <ion-list *ngSwitchCase="'all'">

            <ion-card>

                <ion-item text-wrap>
                    <ion-avatar item-start>
                        <img src="../assets/imgs/man.png">
                    </ion-avatar>
                    <h3><b>Михайло Андрієвський</b>

                        <i>прислав Вам заявку на роботу</i></h3>


                </ion-item>


                <ion-card-content>
                    <h2> Будівничі роботи</h2>
                    <br>
                    <div class="data">
                   <!--<fa-icon name="camera-retro"></fa-icon> -->
                   <fa-icon name="building"></fa-icon> <wbr>ФОП Фортуна
                    <br><fa-icon name="calendar"></fa-icon>&nbsp; 21.02.2018 - 18.05.2018
                    <span><br><fa-icon name="money"></fa-icon>&nbsp;1200$
          <!--<ion-icon md="md-navigate"></ion-icon>-->
         &nbsp;<fa-icon name="map-marker"></fa-icon> &nbsp;Мюнхен</span>
                    </div>
                </ion-card-content>

                <ion-row>

                    <ion-col left text-left>
                        <ion-note>
                            Розміщено 1 год назад · &nbsp;54 перегляди
                        </ion-note>
                    </ion-col>
                </ion-row>
                <div row col-12>

                    <button ion-button round outline color="secondary">Поділитися</button>

                    <button ion-button round outline id="orange_button">Подати заявку</button>
                    <br>
                </div>
            </ion-card>


            <ion-card>

                <ion-card-content text-wrap>


                    <h2> Будівничі роботи будівничі роботи будівничі роботи</h2>
                    <br>
                    <div class="data">
                                       <!--<fa-icon name="camera-retro"></fa-icon> -->
                                       <fa-icon name="building"></fa-icon> <wbr>ФОП Фортуна
                                        <br><fa-icon name="calendar"></fa-icon>&nbsp; 21.02.2018 - 18.05.2018
                                        <span><br><fa-icon name="money"></fa-icon>&nbsp;1200$
                              <!--<ion-icon md="md-navigate"></ion-icon>-->
                             &nbsp;<fa-icon name="map-marker"></fa-icon> &nbsp;Мюнхен</span>
                                        </div>

                </ion-card-content>

                <ion-row>

                    <ion-col left text-left>
                        <ion-note>
                            Розміщено 1 год назад · &nbsp;54 перегляди
                        </ion-note>
                    </ion-col>
                </ion-row>
                <div row col-12>
                    <button ion-button round outline>Поділитися</button>

                    <button ion-button round outline id="orange_button">Подати заявку</button>
                </div>

            </ion-card>

<ion-card>

                <ion-card-content text-wrap>


                    <h2> Будівничі роботи</h2>
                    <br>
                   <div class="data">
                                      <!--<fa-icon name="camera-retro"></fa-icon> -->
                                      <fa-icon name="building"></fa-icon> <wbr>ФОП Фортуна
                                       <br><fa-icon name="calendar"></fa-icon>&nbsp; 21.02.2018 - 18.05.2018
                                       <span><br><fa-icon name="money"></fa-icon>&nbsp;1200$
                             <!--<ion-icon md="md-navigate"></ion-icon>-->
                            &nbsp;<fa-icon name="map-marker"></fa-icon> &nbsp;Мюнхен</span>
                                       </div>
                    <br><h4>Потрібен чоловік для роботи в Мюнхені(Німеччина). Малярні роботи, кладка плитки. Заробітна плата на напрацювання.</h4>
                   <!-- <ion-item> <ion-label>Проживання</ion-label> <ion-checkbox checked="true"></ion-checkbox> </ion-item>
                    <ion-item> <ion-label>Харчування</ion-label> <ion-checkbox checked="true"></ion-checkbox> </ion-item>
                    <ion-item> <ion-label>Транспортування</ion-label> <ion-checkbox checked="false"></ion-checkbox> </ion-item>-->
                    <br><div col-xs-auto>
                    <div class="checks">
                    <h4>Проживання<fa-icon name="check"></fa-icon></h4>
                    <h4>Харчування&nbsp;<fa-icon  name="check"></fa-icon></h4>
                    <h4>Перевезення<fa-icon name="times"></fa-icon></h4>
                    </div>
                    </div>
                </ion-card-content>

                <ion-row>

                    <ion-col left text-left>
                        <ion-note>
                            Розміщено 1 год назад · &nbsp;54 перегляди
                        </ion-note>
                    </ion-col>
                </ion-row>
                <div row col-12>
                    <button ion-button round outline>Поділитися</button>

                    <button ion-button round outline id="orange_button">Подати заявку</button>
                </div>

            </ion-card>
        </ion-list>

    </div>


</ion-content>
