<ion-content padding>
  <ion-row align-items-center>
    <ion-col col-sm-9>
      <!--<form [formGroup]="registerForm">-->
      <div class="input_one">
        <ion-item>
          <!--<ion-input type="text"-->
          <!--formControlName="phone"-->
          <!--[(ngModel)]="userData.phone"-->
          <!--placeholder="(__) ___-__-__"-->
          <!--[brmasker]="{mask:'+000 (00) 00-00-000', len:19, type:'num'}"></ion-input>-->
          <div class="telefone_all">
            <div class="telef"><input class="telephone"
                                      type="tel"
                                      maxlength="9"
                                      [(ngModel)]="userData.phone"
                                      placeholder="(xx) xxx-xx-xx">
              <p>+380</p></div>
          </div>

        </ion-item>

        <!--<div class="valid">-->
       <!--<span><ion-item *ngIf="validation(registerForm).phone()">-->
          <!--{{validation(registerForm).phone()}}-->
        <!--</ion-item></span>-->
        <!--</div>-->
      </div>
      <div class="input_bottom">
        <div class="input_two">
          <!--ngClass="{{registerForm.controls.password.errors ? invalid : ''}}"-->
          <ion-item justify-content-center>
            <ion-input
              [type]="isActive ? 'password' : 'text'"
              placeholder="ПАРОЛЬ"
              [(ngModel)]="userData.password"></ion-input>
            <ion-icon
              class="pass-icon"
              [name]="isActive ? 'eye-off': 'eye' "
              item-right
              (click)="showPass()">
            </ion-icon>
          </ion-item>

          <!--<div class="valid">-->
            <!--<ion-item *ngIf="validation(registerForm).password()">-->
              <!--{{validation(registerForm).password()}}-->
            <!--</ion-item>-->
          <!--</div>-->
        </div>
      </div>
      <!--</form>-->

      <button ion-button
              round
              (click)="register()"
              >Зареєструватися
        <!--ngClass="{{registerForm.valid ? 'valid-button' : ''}}"-->
      </button>


      <div class="text-cust" text-center>
        <!--<div margin-bottom><a>забули пароль?</a> <a (click)="goToSlider()">слайдер</a></div>-->
        <br><a margin-vertical>вже є акаунт?</a>
        <span><a color="primary" (click)="goToLogin()">увійти!</a></span>
      </div>
    </ion-col>
  </ion-row>

</ion-content>


