<ion-content padding>

  <ion-row align-items-center
           justify-content-center>
    <ion-col col-sm-9 justify-content-center>
      <form [formGroup]="registerForm">
        <div class="input_one" >
          <ion-item >
            <ion-input type="text"
                       formControlName="phone"
                       [(ngModel)]="userData.phone"
                       placeholder="(__) ___-__-__"
                       [brmasker]="{mask:'+000 (00) 00-00-000', len:19, type:'num'}"></ion-input>
          </ion-item>

          <div class="valid">
       <span><ion-item  *ngIf="validation(registerForm).phone()" >
          {{validation(registerForm).phone()}}
        </ion-item></span>
          </div>
        </div>
        <div class="input_bottom">
          <div class="input_two" >
            <ion-item justify-content-center
                      ngClass="{{registerForm.controls.password.errors ? invalid : ''}}">
              <ion-input
                [type]="isActive ? 'password' : 'text'"
                formControlName="password"
                placeholder="ПАРОЛЬ"
                [(ngModel)]="userData.password"></ion-input>
              <ion-icon
                class="pass-icon"
                [name]="isActive ? 'eye-off': 'eye' "
                item-right
                (click)="showPass()">
              </ion-icon>
            </ion-item>

            <div class="valid">
              <ion-item *ngIf="validation(registerForm).password()" >
                {{validation(registerForm).password()}}
              </ion-item>
            </div>
          </div>
        </div>
      </form>

      <button ion-button
              round
              (click)="register()"
              ngClass="{{registerForm.valid ? 'valid-button' : ''}}">Зареєструватися
      </button>


      <div class="text-cust" text-center>
        <!--<div margin-bottom><a>забули пароль?</a> <a (click)="goToSlider()">слайдер</a></div>-->
        <br><a margin-vertical>вже є акаунт?</a>
        <span><a color="primary" (click)="goToLogin()">увійти!</a></span>
      </div>
    </ion-col>
  </ion-row>

</ion-content>


<!--<ion-content padding>

  <ion-row align-items-center
           style="height: 100%"
           justify-content-center>
    <ion-col col-10 justify-content-center>
      <!--mask="+*** (**) ***-**-**"-->
<!--placeholder="+380 (__) ___-__-__"-->
<!--(click)="updateInput()"-->
<!-- <ion-item margin-vertical>
   <ion-input type="text"
              mask="(**) ***-**-**"
              placeholder="+380 (__) ___-__-__"
              [(ngModel)]="userData.phone"></ion-input>
 </ion-item>

 <ion-item margin-vertical>
   <ion-input type="password" placeholder="ПАРОЛЬ"
              [(ngModel)]="userData.password"></ion-input>
 </ion-item>

 <button ion-button
         round
         (click)="register()">зареєструватися
 </button>
</ion-col>
</ion-row>

</ion-content>-->


