page-help {
  .fixed-content {
    background: #fafafa;
  }
  ion-textarea {
    background: white;
  }
  [margin-top] .scroll-content {
    margin-top: 0;
  }
  [padding] h6:first-child{
  margin-top: 0;
}
  .scroll-content {
    margin-bottom: 0 !important;
  }
  textarea {
    padding: 5px;
    box-sizing: border-box;
  }
}
