page-help {
  .fixed-content {
    background: #fafafa;
  }
  ion-textarea {
    background: white;
  }
  [margin-top] .scroll-content {
    margin-top: 0;
  }
  [padding] h6:first-child{
  margin-top: 0;
}
  .scroll-content {
    margin-bottom: 0 !important;
  }

  /*.myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    //background: transparent;
    margin-top: 50px;
  }
  .area{
     background: white;
    height: 100px;
  }*/
  textarea {
    padding: 10px;
  }
}
