page-info {
//font-family: Roboto-Medium;


  .fa {
    color: gray;
  }

  .red_ex button {
    color: red;

  }
  .red_ex fa-icon {
    color: red!important;
  }

  .info-centre b {
    margin: 0 5px;
  }
  .item[item-start] {
    margin: 5px 8px 9px 0;
  }
   b{
     font-weight: 500;
    //font-family: "Roboto-Medium";
     font-size: 14px;
  }

}
