page-add-skill-modals {
  ion-header {
    border-bottom: 1px solid #DCDEE2;
    p {
      font-size: 16px;
      margin: 7px 0 7px 10px;
    }
  }
  ion-content {
    ion-row {
      height: 100%;
    }
    .badge {
      color: white;
    }
  }
  ion-footer {
    border-top: 1px solid #DCDEE2;
  }

  .button-inner {
    color: #696666;
  }
}
