// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
//$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #fdc260,
  secondary: #081d32, //#32db64
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  white: white,
  colorlink: #5d6d7d,
  grey: #5D6D7D
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
//@import "noto-sans";


// Font Awesome
$fa-font-path: $font-path;
@import "font-awesome";

$modal-inset-min-width: (300px); //ширина при которой модалка на 100% (px)
$modal-inset-min-height-small: (400px); //Вылазит Small модалка (px)
//$modal-inset-min-height-large:(768px); //Вылазит Large модалка (px)
$modal-inset-width: (280px); //Ширина модалки (px || %)
$modal-inset-height-small: (170px); //Высота Small модалки (px || %)
$modal-inset-height-large: (170px); //Высота Large модалки (px || %)

$checkbox-md-icon-border-radius: (10px);
//$checkbox-md-icon-size: (20px);
$item-md-detail-push-show: (true); // arrow for button ion-item
/*
$font-family-base: 'Roboto-Light';
$font-family-ios-base: 'Roboto-Light';
$font-family-md-base: 'Roboto-Light';
$font-family-wp-base: 'Roboto-Light';

$font-family-base: 'Roboto-Regular';
$font-family-ios-base: 'Roboto-Regular';
$font-family-md-base: 'Roboto-Regular';
$font-family-wp-base: 'Roboto-Regular';

$font-family-base: 'Roboto-Medium';
$font-family-ios-base: 'Roboto-Medium';
$font-family-md-base: 'Roboto-Medium';
$font-family-wp-base: 'Roboto-Medium';

$font-family-base: 'Roboto-Bold';
$font-family-ios-base: 'Roboto-Bold';
$font-family-md-base: 'Roboto-Bold';
$font-family-wp-base: 'Roboto-Bold';
*/

/*@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: 400;
  src: local("Myriad"), local("Myriad-Regular"), url("../fonts/myriad-regular.ttf") format("truetype");}*/

.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ion-ios-fa-users::before,
.ion-ios-fa-users-outline::before,
.ion-md-fa-users::before {
  @extend .fa-icons-general;
  content: "\f0c0";
}

.ion-ios-fa-home::before,
.ion-ios-fa-home-outline::before,
.ion-md-fa-home::before {
  @extend .fa-icons-general;
  content: "\f015";
}

.ion-ios-fa-user::before,
.ion-ios-fa-user-outline::before,
.ion-md-fa-user::before {
  @extend .fa-icons-general;
  content: "\f007";
}

.ion-ios-fa-info::before,
.ion-ios-fa-info-outline::before,
.ion-md-fa-info::before {
  @extend .fa-icons-general;
  content: "\f129";
}
