page-friends {
  ion-title {
    ion-icon {
      float: right;
    }
  }
  .searchbar .searchbar-input {
    border-radius: 65px;
    background-color: #0c2a49;
    color: white;
    width: 88%;
    line-height: 2.4rem;
    font-weight: 200;
    margin-left: 3px;
  }
  .searchbar .searchbar-search-icon {
    color: white;
  }
  .scroll-content {
     margin-bottom: 55px;
   }

  .left_button {
    border: 1px solid black;
    text-transform: none;
    color: #081d32;
    height: 25px;
    border-radius: 25px 0 0 25px;
    text-transform: none;
    font-weight: bold;
  }
  .right_button {
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 30px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
  }
  .left_button p {
    font-size: 12px;

    //font-weight: bold;
    text-transform: none;
    margin-top: -8px;

  }

  .right_button p {
    font-size: 12px;

    //font-weight: bold;
    text-transform: none;
    margin-top: -8px;
  }
  .segment .segment-button {
    height: 30px;
    color: #081d32;
    border-bottom-color: #081d32;
    font-weight: bold;
  }
  .segment .segment-button.activated, .segment .segment-button.segment-activated {
    background: color($colors, secondary) !important;
    color: white !important;
    font-weight: 600 !important;

  }
  ion-row {
    justify-content: center;
    margin-right: 2%;
  }
  .scroll-content {
    background: #fafafa;
    padding-top: 0px !important;
  }
  .segment .segment-button.segment-activated {
    border-color: #fafafa;
  }
  .segment .segment-button.segment-activated {
    height: 25px;
    border-color: transparent;
  }
  .segment .segment-button {
    height: 25px;
    color: #081d32;
    border-bottom-color: #081d32;
    font-weight: bold;
  }
  fa-icon {
    color: #5d6d7d;
  }
  .item.item-block .item-inner {
    border-bottom: 1px solid #fafafa;
  }
 /* .item-md[no-lines]{
    border-bottom: 1px solid #fafafa;
  }*/
  [text-wrap] .label {
    border-bottom: 1px solid #fafafa;
  }
  .item h2 {
    font-size: 12px;
  }

  .contact_list {
    margin-top: 4%;
  }
  .contact_list h2 {
    font-size: 13px;
    font-weight: bold;
    color: #515254;
  }
  .photo-placeholder {
    background-color: #928c8c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    padding-top: 13px;
    font-weight: 600;
  }
  .contact_list {
<<<<<<< HEAD
=======


    h2,b{
      font-size: 13px;
    }
    i {
      font-size: 11px;
    }
    .item-md .item-button {
      padding: 0 0.6em;
      height: 18px;
      font-size: 9px;
      text-transform: none;
    }
    #left_button {
      height: 21px;
      width: 43%;
      font-size: 11px;
      text-transform: none;

    }
    #disable_button {
      height: 21px;
      width: 48%;
      font-size: 11px;
      text-transform: none;
      border-color: #5d6d7d;
      color: #5d6d7d;

    }
    .item-md ion-avatar[item-start] {
      margin: 0 16px 17px 0;
    }
  }
>>>>>>> anton


    h2,b{
      font-size: 13px;
    }
    i {
      font-size: 11px;
    }
    .item-md .item-button {
      padding: 0 0.6em;
      height: 18px;
      font-size: 9px;
      text-transform: none;
    }
    #left_button {
      height: 21px;
      width: 43%;
      font-size: 11px;
      text-transform: none;

    }
    #disable_button {
      height: 21px;
      width: 48%;
      font-size: 11px;
      text-transform: none;
      border-color: #5d6d7d;
      color: #5d6d7d;

    }
    .item-md ion-avatar[item-start] {
      margin: 0 16px 17px 0;
    }
  }
  .label {
    margin-top: 5px;
  }
}
