page-friends {
  ion-title {
    ion-icon{
      float: right;
    }
  }
  .searchbar .searchbar-input {
    border-radius: 65px;
    background-color: #0c2a49;
    color: white;
    width: 88%;
    line-height: 2.4rem;
    font-weight: 200;
    margin-left: 3px;
  }
  .searchbar .searchbar-search-icon {
    color: white;
  }
  .scroll-content {
     margin-bottom: 55px;
   }

}
