page-friends {
  .segment-md .segment-button {
  }
  #left_button{
    border: 1px solid black;
    text-transform: none;
    color: #081d32;
    height: 32px;
    border-radius: 25px 0 0 25px;
    text-transform: none;
  }
  #right_button{
    border: 1px solid black;
    background: white;
    color: #081d32;
    text-transform: none;
    height: 32px;
    border-radius: 0 25px 25px 0;
  }
  ion-navbar{
    background: #2d2d2d !important;
    color: white !important;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    background: color($colors, secondary) !important;
    color: white !important;
  }
}
