// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//.toolbar-md {
//  padding: 0;
//}
/**{
  font-family: 'Roboto-Medium';
}*/
@font-face {
  font-family: "Roboto-Light ";
  font-style: normal;
  font-weight: 300;
  src: local("roboto light"), local("roboto-light"), url("../fonts/roboto-light.ttf") format("truetype"), url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), local("roboto-regular"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("roboto medium"), local("roboto-medium"), url("../fonts/roboto-medium.ttf") format("truetype"), url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("roboto bold"), local("roboto-bold"), url("../fonts/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold.woff") format("woff");
}

button {
  color: #ffffff;
}

.border {
  border-bottom: 1px solid #908c8c;
}

.subheader-pading {
  padding-top: 9px;
  padding-bottom: 13px;
}

.primary-text {
  color: color($colors, primary);

}

ion-header {
  .toolbar-background {
    background-color: color($colors, secondary);
  }
  .bar-button, .toolbar-title {
    color: white;
    font-size: 15px;
  }
  .bar-button:first-child {
    font-size: 13px;
  }
}

/*.toast-wrapper.toast-middle {
  text-align: center;
}*/
.toast-wrapper {
  margin-top: 10px !important;
  opacity: 0.6;
  border-radius: 15px;
  width: 65% !important;
  z-index: 999999;
  text-align: center;

}

.toast alert {
  height: 100%;
  width: 100%;
}

.success {
  .toast-wrapper {
    opacity: 0.9;;
  }
  > div {
    background-color: #32db64 !important;

  }
}

.error {
  > div {
    background-color: red !important;
  }
}



/*.tabs .tabbar{
  display: none;
}*/

.auth-active-button {
  background-color: #f9ae32 !important;
}


