<ion-header>
  <ion-navbar hideBackButton>
    <ion-row justify-content-between align-items-center *ngIf="!showSearchbar">
      <ion-col>
        <ion-buttons ion-col>
          <button ion-button text-capitalize (click)="goBack()">
            Відмінити
          </button>
        </ion-buttons>
      </ion-col>
      <ion-title text-center *ngIf="!showSearchbar">Додати контакти</ion-title>
      <ion-icon ios="ios-search" md="md-search" (click)="showSBar()" ion-col text-end></ion-icon>
    </ion-row>
      <div *ngIf="showSearchbar">
                   <ion-searchbar
                     [animated]="'true'"
                     [showCancelButton]="'true'"
                     (ionInput)="filterItems($event)"
                     (ionCancel)="hideSBar()">
                   </ion-searchbar>
      </div>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-item *ngFor=" let contact of displayContactlist | orderBy: 'displayName' " no-lines (click)="phoneSelectPopup(contact)">
    <ion-avatar item-start>
      <div class="photo-placeholder" text-center>
          <span>
            {{contact.displayName[0]}}
          </span>
      </div>
    </ion-avatar>
    <h2>{{contact.displayName}}</h2>
    <button ion-button item-end round outline
            *ngIf="!contact.added"
            (click)="test1()">Додати</button>
  </ion-item>
</ion-content>
