page-phone-contacts {
  .photo-placeholder {
    background: #5d6d7d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    span {
      position: relative;
      top: 13px;
      font-weight: 700;
      color: white;
    }
  }
}
