page-phone-contacts {
  .photo-placeholder {
    background: #5d6d7d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    span {
      position: relative;
      top: 13px;
      font-weight: 700;
      color: white;
    }
  }
  ion-item {
  button{
      text-transform: none !important;
      padding: 10px 20px !important;
    }
    /*.icon-right {
      float: right;
      font-size: 0.9em;
    }*/
  }
  .icon{
    color: white;
    //width: 30%;
    margin-right: 2%;
    font-size: 1.4em;
  }
  .searchbar-md .searchbar-search-icon{
    top: 10px;
    // background: white;
  }
  .searchbar .searchbar-has-focus .searchbar-show-cancel .searchbar-search-icon{
    color: white;
  }
  .searchbar .searchbar-input {
    border-radius: 65px;
    background-color: #0c2a49;
    color: white;
    width: 88%;
    line-height: 2.4rem;
    font-weight: 500;
    margin-left: 3px;
    font-size: 12px;
  }

  .searchbar .searchbar-search-icon {
    color: white !important;
    background-size: 16px;

  }
  .searchbar .searchbar-has-focus .searchbar-show-cancel .searchbar-search-icon {
    color: white !important;
  }
  @media screen and (max-width: 270px) {
    .toolbar-title{
      font-size: 13px;
    }
     .icon{
       margin-right: 0;
       font-size: 15px;
     }
    .bar-button:first-child{
      font-size: 11px;
    }
    }




}
