<ion-card>
  <!--<div *ngIf="i<scrollLimit">-->

  <ion-item text-wrap *ngIf="job.first_name">
    <ion-avatar item-start>
      <img *ngIf="job.photo_path" [src]="job.photo_path">
      <div *ngIf="!job.photo_path" class="photo-placeholder" text-center>
          <span>
            {{(job.first_name ? job.first_name[0] : '') + (job.last_name ? job.last_name[0] : '')}}
          </span>
      </div>
    </ion-avatar>
    <h3><b>{{job.first_name + ' ' + job.last_name}}</b>
      <i>прислав Вам заявку на роботу</i></h3>
  </ion-item>


  <div (click)="showMyJobDetails(job)">
    <ion-card-content text-wrap>
      <h2> {{job.title}}
        <p>
          <wbr>
          <i [ngSwitch]="job.status_id">
            <span *ngSwitchCase="0">Ваша заявка розглядається</span>
            <span *ngSwitchCase="1">Вітаю,Вас прийнято</span>
            <span *ngSwitchCase="2">Нажаль,вашу заявку відхилено</span>
          </i></p>
      </h2>
      <div class="data">
        <fa-icon name="building"></fa-icon>
        <wbr>&nbsp;{{job.employer }}
        <br>
        <fa-icon name="calendar"></fa-icon>&nbsp; {{job.start_date | date:"dd.MM.yy"}} -
        {{job.end_date | date:"dd.MM.yy"}}
        <span><br><fa-icon name="money"></fa-icon>&nbsp; {{job.price }}$
                            &nbsp;<fa-icon name="map-marker"></fa-icon> &nbsp;{{job.city}}</span>
      </div>
      <div *ngIf="job.details">
        <p margin-vertical>{{job.description}}</p>
        <div col-xs-auto>
          <div class="checks">
            <h4>Проживання
              <fa-icon name="{{job.food ? 'check' : 'times'}}" icon-end></fa-icon>
            </h4>
            <h4>Харчування&nbsp;<fa-icon name="{{job.residence ? 'check' : 'times'}}" icon-end></fa-icon>
            </h4>
            <h4>Перевезення&nbsp;<fa-icon name="{{job.transportation ? 'check' : 'times'}}"
                                          icon-end></fa-icon>
            </h4>
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-row>
      <ion-col left text-left>
        <ion-note>
          Розміщено <span *ngIf="!job.createdRecently">{{job.created_at | date:"dd.MM.yy"}}</span>
          <span *ngIf="job.createdRecently">{{job.createdRecently}}</span> · &nbsp; перегляди: {{job.count}}
          <ion-checkbox color="pimary"
                        *ngIf="communication.tabsControllButton"
                        [checked]="job.checked"
                        (click)="checkJob(job)"
                        item-end></ion-checkbox>
        </ion-note>
      </ion-col>
    </ion-row>
  </div>
  <div row col-12 *ngIf="!communication.tabsControllButton">
    <button ion-button round outline id="left_button" (click)="shareJob(job)">Поділитися</button>
    <button ion-button round outline id="disable_button" (click)="escapeJob(job)" *ngIf="job.user_id">Відхилити заявку</button>
    <button ion-button round outline id="orange_button" (click)="toMyJobs(job)" *ngIf="!job.user_id">Подати заявку</button>
  </div>
  <!--</div>-->
</ion-card>
