<ion-list padding-horizontal *ngIf="phone">
  <ion-row>
    <div col-4 (click)="editProfile ? photoAddControl() : '' " vertical-align-center text-center
         style="min-height: 120px">


<fa-icon name="camera" ngClass="{{editProfile ? '' : 'img-edit-icon' }}"></fa-icon>
      <img [src]="defaultImg" alt="" *ngIf="!imageURI && !loadedImg">
      <img [src]="imageURI" alt="" *ngIf="imageURI" ngClass="{{editProfile ? 'img-edit' : ''}}">
      <img [src]="loadedImg" alt="" *ngIf="loadedImg && !imageURI"  ngClass="{{editProfile ? 'img-edit' : ''}}">

    </div>
    <ion-list col-8>
      <div class="first_last_name">
      <div class="item_bottom">
        <ion-item floating>
          <ion-input [(ngModel)]="userData.first_name" [disabled]="!editProfile" placeholder="Ім'я"
                     type="text"></ion-input>
        </ion-item>
        </div>
        <div class="prof_last">
        <ion-item floating>
          <ion-input [(ngModel)]="userData.last_name" id="test" [disabled]="!editProfile" placeholder="Прізвище"
                     type="text"></ion-input>
        </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-row>

    <ion-item no-padding>
      <ion-input placeholder="Номер телефону" type="text" [(ngModel)]="phone" disabled></ion-input>
      <ion-row class="border">
      </ion-row>
    </ion-item>
    <ion-item no-padding ngClass="{{validateEmail(userData.email) ? '' : 'invalid'}}">

      <ion-input placeholder="E-mail" type="email"
                 [(ngModel)]="userData.email"
                  [disabled]="!editProfile"></ion-input>

      <!--<ion-row class="border">-->
      <!--</ion-row>-->
    </ion-item>
  <div class="alert-message"><span no-padding *ngIf="!validateEmail(userData.email) && editProfile">
Ваш email повинен виглядати як email і бути від 5-30 символів.
  </span></div>
    <ion-item no-padding>
      <ion-input placeholder="Місто" type="text" [(ngModel)]="userData.city" [disabled]="!editProfile"></ion-input>
      <ion-row class="border">
      </ion-row>
    </ion-item>
    <ion-item no-padding>
      <ion-label>У мене є закордонний паспорт</ion-label>
      <ion-checkbox color="primary" checked="false" round item-end [(ngModel)]="userData.passport_id"
                    [disabled]="!editProfile"></ion-checkbox>
    </ion-item>

  <button no-padding detail-push ion-item (click)="presentContactModal()">Змінити пароль</button>
</ion-list>

